# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Archives
*.xcarchive

# Code signing
*.mobileprovision
*.provisionprofile
